#container{
    height: 70vh;
    width: 70vw;
    background-color: aqua;
    display: flex;
    flex-direction:row-reverse;
}

#container div{
    height: 50px;
    width: 50px;
    /* border-radius: 50%; */
}

#div1{
    background-color: red;
    order: 2;
}
#div2{
    background-color: rgb(49, 15, 241);
    order: 3;
}
#div3{
    background-color: rgb(90, 230, 25);
    order: -1;
}
#div4{
    background-color: rgb(235, 15, 125);
    order: 9;
}
#div5{
    background-color: rgb(113, 115, 143);
    order: -2;
}